<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Financial Wellbeing Survey</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/RFW-style.css')}}">
    <!-- <script src="RFW-script.js" defer></script> Link to your JavaScript file -->
</head>
<body>

    <h1>Financial Wellbeing Survey</h1>
    <div class="survey_content">
    <table>
        <tr>
            <th>How well do the following 
                statements describe you or your 
                situation? </th>
            <th>Completely</th>
            <th>Very Well</th>
            <th>Somewhat</th>
            <th>Very Little</th>
            <th>Not at All</th>
        </tr>
        <tr>
            <td>1. I can enjoy life because of the way I’m 
                managing my money</td>
            <td><input type="checkbox" name="q1" value=4 onclick="onlyOneCheckbox(this, 'q1')"></td>
            <td><input type="checkbox" name="q1" value=3 onclick="onlyOneCheckbox(this, 'q1')"></td>
            <td><input type="checkbox" name="q1" value=2 onclick="onlyOneCheckbox(this, 'q1')"></td>
            <td><input type="checkbox" name="q1" value=1 onclick="onlyOneCheckbox(this, 'q1')"></td>
            <td><input type="checkbox" name="q1" value=0 onclick="onlyOneCheckbox(this, 'q1')"></td>
        </tr>
        <tr>
            <td>2. I could handle a major unexpected 
                expense</td>
            <td><input type="checkbox" name="q2" value=4 onclick="onlyOneCheckbox(this, 'q2')"></td>
            <td><input type="checkbox" name="q2" value=3 onclick="onlyOneCheckbox(this, 'q2')"></td>
            <td><input type="checkbox" name="q2" value=2 onclick="onlyOneCheckbox(this, 'q2')"></td>
            <td><input type="checkbox" name="q2" value=1 onclick="onlyOneCheckbox(this, 'q2')"></td>
            <td><input type="checkbox" name="q2" value=0 onclick="onlyOneCheckbox(this, 'q2')"></td>
        </tr>
        <tr>
            <td>3. I am securing my financial future</td>
            <td><input type="checkbox" name="q3" value=4 onclick="onlyOneCheckbox(this, 'q3')"></td>
            <td><input type="checkbox" name="q3" value=3 onclick="onlyOneCheckbox(this, 'q3')"></td>
            <td><input type="checkbox" name="q3" value=2 onclick="onlyOneCheckbox(this, 'q3')"></td>
            <td><input type="checkbox" name="q3" value=1 onclick="onlyOneCheckbox(this, 'q3')"></td>
            <td><input type="checkbox" name="q3" value=0 onclick="onlyOneCheckbox(this, 'q3')"></td>
        </tr>
        <tr>
            <th>When it comes to how you think and 
                feel about your finances, please 
                indicate the extent to which you 
                agree or disagree with the following 
                statements </th>
            <th>Strongly
                Agree</th>
            <th>Agree</th>
            <th>Neutral</th>
            <th>Disagree</th>
            <th>Strongly
                Disagree</th>
        </tr>
        <tr>
            <td>4. I feel on top of my day to day finances</td>
            <td><input type="checkbox" name="q4" value=4 onclick="onlyOneCheckbox(this, 'q4')"></td>
            <td><input type="checkbox" name="q4" value=3 onclick="onlyOneCheckbox(this, 'q4')"></td>
            <td><input type="checkbox" name="q4" value=2 onclick="onlyOneCheckbox(this, 'q4')"></td>
            <td><input type="checkbox" name="q4" value=1 onclick="onlyOneCheckbox(this, 'q4')"></td>
            <td><input type="checkbox" name="q4" value=0 onclick="onlyOneCheckbox(this, 'q4')"></td>
        </tr>
        <tr>
            <td>5. I am comfortable with my current 
                levels of spending relative to the 
                funds I have coming in</td>
            <td><input type="checkbox" name="q5" value=4 onclick="onlyOneCheckbox(this, 'q5')"></td>
            <td><input type="checkbox" name="q5" value=3 onclick="onlyOneCheckbox(this, 'q5')"></td>
            <td><input type="checkbox" name="q5" value=2 onclick="onlyOneCheckbox(this, 'q5')"></td>
            <td><input type="checkbox" name="q5" value=1 onclick="onlyOneCheckbox(this, 'q5')"></td>
            <td><input type="checkbox" name="q5" value=0 onclick="onlyOneCheckbox(this, 'q5')"></td>
        </tr>
        <tr>
            <td>6. I am on track to have enough money 
                to provide for my financial needs in 
                the next 12 months</td>
            <td><input type="checkbox" name="q6" value=4 onclick="onlyOneCheckbox(this, 'q6')"></td>
            <td><input type="checkbox" name="q6" value=3 onclick="onlyOneCheckbox(this, 'q6')"></td>
            <td><input type="checkbox" name="q6" value=2 onclick="onlyOneCheckbox(this, 'q6')"></td>
            <td><input type="checkbox" name="q6" value=1 onclick="onlyOneCheckbox(this, 'q6')"></td>
            <td><input type="checkbox" name="q6" value=0 onclick="onlyOneCheckbox(this, 'q6')"></td>
        </tr>
        <tr>
            <td>7. I was financially good in the last 12 months</td>
            <td><input type="checkbox" name="q7" value=4 onclick="onlyOneCheckbox(this, 'q7')"></td>
            <td><input type="checkbox" name="q7" value=3 onclick="onlyOneCheckbox(this, 'q7')"></td>
            <td><input type="checkbox" name="q7" value=2 onclick="onlyOneCheckbox(this, 'q7')"></td>
            <td><input type="checkbox" name="q7" value=1 onclick="onlyOneCheckbox(this, 'q7')"></td>
            <td><input type="checkbox" name="q7" value=0 onclick="onlyOneCheckbox(this, 'q7')"></td>
        </tr>
        <tr>
            <th>How often do the following 
                statements apply to you?  </th>
            <th>Always</th>
            <th>Often</th>
            <th>Sometimes</th>
            <th>Rarely</th>
            <th>Never</th>
        </tr>
        <tr>
            <td>8. I have money left over after paying for food and other regular expenses</td>
            <td><input type="checkbox" name="q8" value=4 onclick="onlyOneCheckbox(this, 'q8')"></td>
            <td><input type="checkbox" name="q8" value=3 onclick="onlyOneCheckbox(this, 'q8')"></td>
            <td><input type="checkbox" name="q8" value=2 onclick="onlyOneCheckbox(this, 'q8')"></td>
            <td><input type="checkbox" name="q8" value=1 onclick="onlyOneCheckbox(this, 'q8')"></td>
            <td><input type="checkbox" name="q8" value=0 onclick="onlyOneCheckbox(this, 'q8')"></td>
        </tr>
        <tr>
            <td>9. My finances control my life</td>
            <td><input type="checkbox" name="q9" value=4 onclick="onlyOneCheckbox(this, 'q9')"></td>
            <td><input type="checkbox" name="q9" value=3 onclick="onlyOneCheckbox(this, 'q9')"></td>
            <td><input type="checkbox" name="q9" value=2 onclick="onlyOneCheckbox(this, 'q9')"></td>
            <td><input type="checkbox" name="q9" value=1 onclick="onlyOneCheckbox(this, 'q9')"></td>
            <td><input type="checkbox" name="q9" value=0 onclick="onlyOneCheckbox(this, 'q9')"></td>
        </tr>
        <tr>
            <td>10. Giving a gift for a wedding, birthday or 
                other occasion would put a strain on 
                my finances for the month </td>
            <td><input type="checkbox" name="q10" value=4 onclick="onlyOneCheckbox(this, 'q10')"></td>
            <td><input type="checkbox" name="q10" value=3 onclick="onlyOneCheckbox(this, 'q10')"></td>
            <td><input type="checkbox" name="q10" value=2 onclick="onlyOneCheckbox(this, 'q10')"></td>
            <td><input type="checkbox" name="q10" value=1 onclick="onlyOneCheckbox(this, 'q10')"></td>
            <td><input type="checkbox" name="q10" value=0 onclick="onlyOneCheckbox(this, 'q10')"></td>
        </tr>
    </table>
    <br>
    <button id="calculateButton">Submit Survey</button>
    </div>

    <!-- importing local -->
    <script language="JavaScript" type="text/javascript" src="{{url_for('static', filename='js/RFW-script.js')}}"></script>

</body>
</html>




