langchain
langchain-community
llama-cpp-python
chromadb
pdfminer.six
InstructorEmbedding
sentence-transformers
faiss-cpu
huggingface_hub
transformers
docx2txt
unstructured
unstructured[pdf]
termcolor
urllib3
accelerate
bitsandbytes
bitsandbytes-windows
click
flask
requests
openpyxl
torch